* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #212121;
    padding: 1rem;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 256px;
    position: relative;
}

.cup {
    position: relative;
    cursor: pointer;
}

#ball {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#message {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 128px;
    color: #212121;
}

/* From Uiverse.io by catraco */
.btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 80px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), 0.5);
    border-radius: 100%;
    position: relative;
    transition: 0.3s;
    margin-top: 64px;
}

.btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-class-name .front {
    background: linear-gradient(
        0deg,
        rgba(var(--primary), 0.6) 20%,
        rgba(var(--primary)) 50%
    );
    box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary), 0.5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: 0.15s;
    color: rgb(var(--secondary));
}

.btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
}
